<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Rezepttool Demo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
		<form action="#" method="POST">
			<h2>Rezept Übersicht</h2>
			<button type="submit" class="btn btn-primary btn-lg">Ja, ich
				möchte ein Rezept erfassen -></button>
		</form>
	</div>
</body>
</html>