<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Rezepttool 2.0</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
		<h2>Rezepttool Overview</h2>
		<form action="#" th:action="@{/recipeOverview}" method="POST">
			<div>
				<button type="submit" name="back">Zurück</button>
			</div>
		</form>
		<form action="#" th:action="@{/recipeOverview}" th:object="${recipes}"
			method="POST">
			<div>
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>
								<button type="submit">Rezept hinzufügen</button>
							</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="recipe : ${recipes}">
							<td th:text="${recipe.name}" />
							<td>
								<button type="submit" th:value="${index}">Rezept
									Anzeigen</button>
							</td>
							<td>
								<button type="submit" th:value="${index}">Rezept
									löschen</button>
							</td>
							<td>
								<button type="submit" th:value="${index}">Rezept
									bearbeiten</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
</body>
</html>